<h4> Add new comment </h4>

<%= form_for @new_comment do |f| %>
  <%= f.hidden_field :post_id %>
  <div class=" form-control">
    <%= f.label :text_comment %>
    <%= f.text_area :text_comment %>
  </div>
  <div class=" form-control">
    <%= f.submit 'Save' %>
  </div>
<% end %>
